// colors
$neutral-0: hsl(0, 0%, 100%);
$neutral-300: hsl(252, 6%, 83%);
$neutral-500: hsl(245, 15%, 58%);
$neutral-700: hsl(245, 19%, 35%);
$neutral-900: hsl(248, 70%, 10%);
$orange-500: hsl(7, 88%, 67%);
$orange-700: hsl(7, 71%, 60%);
$gradient-text: linear-gradient(to right, $orange-700, $neutral-0);

// viewport brekkpoints
$breakpoint-md: 768px;


@font-face {
    font-family: "Inconsolata";
    src: url("/assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: 400, 500, 700, 800;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Inconsolata";
    color: $neutral-300;

}


:focus {
    outline: 2px solid $neutral-300;
    outline-offset: 2px;
}


h1{
    font-size: clamp(28px, 5vw, 45px);
    color: $neutral-0;
    text-align: center;

}

h2
{
    font-size: 20px;
    font-weight: 400;
    color: $neutral-500;
    text-align: center;
    // @media (min-width: $breakpoint-md) {
    //     width: 70%;

    // }
}

h3{
    font-size: 25px;
}

.container {
    background-image: url("/assets/images/background-mobile.png");
    @media (min-width: $breakpoint-md) {
        background-image: url("/assets/images/background-desktop.png");
        
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    height: 100dvh;
    
    display: flex;
    flex-direction: column;
    align-items: center;


}

.header {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    z-index: 1;

    &__text{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    img{
        padding: 10px;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 1;
}

#file{
    display: none;
}

label{
    font-size: 20px;
}

.ticket-form {

    &__file {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px dashed $neutral-500;    
        padding: 10px;
        border-radius: 20px;
        background-color: rgba($neutral-700, 0.25);
        height: 120px;
        gap: 15px;
    }

}
.preview-button{display: none;}

.change-img, .remove-img{
    cursor: pointer;
    font-size: 12px;
    color: $neutral-500;
    // text-decoration: underline;
    // color: hsl(252, 6%, 83%);
    background: $neutral-700;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px;
}

.info-icon {
    width: 16px;
    height: 16px;

}

input {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid $neutral-500;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Inconsolata";
    color: $neutral-300;
    background-color: rgba($neutral-700, 0.25);
}

button{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 16px;
    background-color: $orange-500;
    border: none;
    z-index: 1;
}
.ticket-form__file{
    cursor: pointer;

}

#file{
    border: 1px dashed $neutral-500 !important;
    border-radius: 15px;
    height: 100px;
}

.file-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 12px;
    color: $neutral-500;
}

.upload-text{
    color:$neutral-500;
}

.upload-btn {
    // background: url("../images/icon-upload.svg") no-repeat center center;
    background-color: $neutral-700;
    background-size: 32px 32px;
    outline: 1px solid $neutral-500;
    width: 48px;
    height: 48px;
    border-radius: 20%;
    cursor: pointer;
    padding: 0;
    // transition: box-shadow 0.2s, outline 0.2s;
}

.upload-icon{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}



.pattern__bottom{
    width: 50%;
    z-index: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.pattern{
    &__top, 
    &__lines,
    &__bottom,
    &__circle{
        position: absolute;
        z-index: 0;
    }

    &__top{
        width: 30%;
        right: 0;
        top: 15px;

        // z-index: 0;
    }

    &__bottom{
        width: 50%;
        // z-index: 0;
        // position: absolute;
        left: 0;
        bottom: 0;
    }

    &__lines{
        top: 0;
        left: 0;
        max-inline-size: 100%;
        object-fit: cover;
        height: 600px;

        @media (min-width: $breakpoint-md) {
            width: 100%;
        }
    }

    &__circle{
        top: 45%;
        right: 20%;
        @media (max-width: 767px) {
            display: none;
        }
    }
}



.ticket{

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 1;
    height: 100%;
    @media (min-width: $breakpoint-md) {
       width: 70%;
       gap: 45px;
       
    }
   

    &__result{
        // display: flex;
        // flex-wrap: wrap;
        background-image: url("/assets/images/pattern-ticket.svg");
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 40px;
        height: 180px;
        width: 400px;
        padding: 10px;
        display: grid;
        align-items: center;
        // grid-template-columns: 50px 200px 50px;
        grid-template-areas: "header header sidebar" "main main sidebar";
        // grid-auto-flow: unset;
        // align-content: stretch;
        // grid-template-columns: 60px 200px 50px;

        @media (min-width: $breakpoint-md) {
            height: 230px;
            grid-template-columns: 80px 1fr 80px;
            
            width: 500px;
            padding: 20px; 

        }

    }

    &__avatar-image{
        width: 70px;
        border-radius: 10px;
    }

    &__full-name{
        font-size: 26px;

    }

    &__number{
        grid-area: sidebar;
        transform: rotate(90deg);
        justify-self: center;
        font-size: 25px;
        color: $neutral-500;
    }

    &__username{
        background-image: $gradient-text;
        color: transparent;
        background-clip: text;
    }

    &__email{
        color: $orange-700;
    }

    &__info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

    }
    &__user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
    }

    &__github{
        display: flex;
        gap: 5px;
        flex-direction: row;
        align-items: center;
    }
}

.logo-icon {
    position: relative;
    left: 30px;
}




